{{> header}}

<div class="account-pages"></div>
<div class="clearfix"></div>
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="movies">Create Movies</a>
    <a class="navbar-brand" href="actors">Create Actors</a>
    <a class="navbar-brand" href="directors">Create Directors</a>
    <a class="navbar-brand" href="staff">Create Staff</a>
    <a class="navbar-brand" href="position">Create Position</a>
</nav>
<div class="wrapper-page">
    <div class="panel-heading">
        <h3 class="text-center">Database Management <strong class="text-custom">Project</strong></h3>
    </div>
    <div class="card-box">
        <div class="panel-heading">
            <h3 class="text-center">Movies</h3>
        </div>
        <div class="panel-body">
            <table id="movie" class="display" style="width:100%"></table>
        </div>
    </div>
    <div class="card-box">
        <div class="panel-heading">
            <h3 class="text-center">Actors</h3>
        </div>
        <div class="panel-body">
            <table id="actor" class="display" style="width:100%"></table>
        </div>
    </div>
    <div class="card-box">
        <div class="panel-heading">
            <h3 class="text-center">Directors</h3>
        </div>
        <div class="panel-body">
            <table id="director" class="display" style="width:100%"></table>
        </div>
    </div>
    <div class="card-box">
        <div class="panel-heading">
            <h3 class="text-center">Staff</h3>
        </div>
        <div class="panel-body">
            <table id="staff" class="display" style="width:100%"></table>
        </div>
    </div>
    <div class="card-box">
        <div class="panel-heading">
            <h3 class="text-center">Positions</h3>
        </div>
        <div class="panel-body">
            <table id="position" class="display" style="width:100%"></table>
        </div>
    </div>
</div>
<script>
    var movieTable = $('#movie');
    var actorTable = $('#actor');
    var directorTable = $('#director');
    var staffTable = $('#staff');
    var positionTable = $('#position');
    $(document).ready(function () {
        movieTable.DataTable({
            ajax: {
                url: '/api/movie/findAllMovies/',
                dataSrc: ''
            },
            columns: [
                {title: "Id", data: 'movieId'},
                {title: "Name", data: 'movieName'},
                {title: "Description", data: 'movieDescription'},
                {title: "Rating", data: 'movieRating'},
                {title: "Release Date", data: 'movieReleaseDate',
                    render: function ( data, type, row ) {
                        var date = new Date(data);
                        return date.toDateString();
                    }
                },
                {title: "Length (mins)", data: 'movieLength'},
                {data: null, "defaultContent": "<button>Delete</button>"}
            ]
        });

        actorTable.DataTable({
            ajax: {
                url: '/api/actor/findAllActors/',
                dataSrc: ''
            },
            columns: [
                {title: "Id", data: 'actorId'},
                {title: "Name", data: 'actorName'},
                {title: "Date of Birth", data: 'actorDateOfBirth',
                    render: function ( data, type, row ) {
                        var date = new Date(data);
                        return date.toDateString();
                    }
                },
                {title: "Gender", data: 'actorGender'},
                {data: null, "defaultContent": "<button>Delete</button>"}
            ]
        });

        directorTable.DataTable({
            ajax: {
                url: '/api/director/findAllDirectors/',
                dataSrc: ''
            },
            columns: [
                {title: "Id", data: 'directorId'},
                {title: "Name", data: 'directorName'},
                {title: "Date of Birth", data: 'directorDateOfBirth',
                    render: function ( data, type, row ) {
                        var date = new Date(data);
                        return date.toDateString();
                    }
                },
                {title: "Gender", data: 'directorGender'},
                {data: null, "defaultContent": "<button>Delete</button>"}
            ]
        });

        staffTable.DataTable({
            ajax: {
                url: '/api/staff/findAllStaff/',
                dataSrc: ''
            },
            columns: [
                {title: "Id", data: 'staffId'},
                {title: "Name", data: 'staffName'},
                {title: "Street Address", data: 'staffStreetAddress'},
                {title: "City", data: 'staffCity'},
                {title: "State", data: 'staffState'},
                {title: "ZipCode", data: 'staffZipcode'},
                {title: "Phone Number", data: 'staffPhoneNumber'},
                {title: "Email", data: 'staffEmail'},
                {title: "SSN", data: 'socialSecurityNumber'},
                {title: "Date of Birth", data: 'staffDateOfBirth',
                    render: function ( data, type, row ) {
                        var date = new Date(data);
                        return date.toDateString();
                    }
                },
                {title: "Gender", data: 'staffGender'},
                {data: null, "defaultContent": "<button>Delete</button>"}
            ]
        });

        positionTable.DataTable({
            ajax: {
                url: '/api/position/findAllPositions/',
                dataSrc: ''
            },
            columns: [
                {title: "Id", data: 'positionId'},
                {title: "Name", data: 'positionName'},
                {data: null, "defaultContent": "<button>Delete</button>"}
            ]
        });
    });

    movieTable.on('click', 'button', function () {
        var dtRow = $(this).parents('tr');
        var data = movieTable.DataTable().row(dtRow.rowIndex).data();
        var answer = confirm('Do you want to delete this row from the database?');
        if (answer) {
            var id = data["movieId"];
            $.ajax('/api/movie/deleteMovieById/' + id, {
                success: function () {
                    alert("Successfully deleted");
                    movieTable.DataTable().ajax.reload();
                }
            });
        }
    });

    actorTable.on('click', 'button', function () {
        var dtRow = $(this).parents('tr');
        var data = actorTable.DataTable().row(dtRow.rowIndex).data();
        var answer = confirm('Do you want to delete this row from the database?');
        if (answer) {
            var id = data["actorId"];
            $.ajax('/api/actor/deleteActorById/' + id, {
                success: function () {
                    alert("Successfully deleted");
                    actorTable.DataTable().ajax.reload();
                }
            });
        }
    });

    directorTable.on('click', 'button', function () {
        var dtRow = $(this).parents('tr');
        var data = directorTable.DataTable().row(dtRow.rowIndex).data();
        var answer = confirm('Do you want to delete this row from the database?');
        if (answer) {
            var id = data["directorId"];
            $.ajax('/api/director/deleteDirectorById/' + id, {
                success: function () {
                    alert("Successfully deleted");
                    directorTable.DataTable().ajax.reload();
                }
            });
        }
    });

    staffTable.on('click', 'button', function () {
        var dtRow = $(this).parents('tr');
        var data = staffTable.DataTable().row(dtRow.rowIndex).data();
        var answer = confirm('Do you want to delete this row from the database?');
        if (answer) {
            var id = data["staffId"];
            $.ajax('/api/staff/deleteStaffById/' + id, {
                success: function () {
                    alert("Successfully deleted");
                    staffTable.DataTable().ajax.reload();
                }
            });
        }
    });

    positionTable.on('click', 'button', function () {
        var dtRow = $(this).parents('tr');
        var data = positionTable.DataTable().row(dtRow.rowIndex).data();
        var answer = confirm('Do you want to delete this row from the database?');
        if (answer) {
            var id = data["positionId"];
            $.ajax('/api/position/deletePositionById/' + id, {
                success: function () {
                    alert("Successfully deleted");
                    positionTable.DataTable().ajax.reload();
                }
            });
        }
    });
</script>
{{> footer}}